.jumbotron {
  padding-top: 2rem;
  background-color: #f0ece5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
  padding-bottom: 3rem;
}
.image {
  flex-basis: 70%;
  order: 2;
}
.text {
  padding-left: 1rem;
  font: bold;
}

.education {
  padding-top: 5rem;
}

.skill {
  background-color: #f0ece5;
  padding-bottom: 2rem;
}
